doctype html
head
  //- Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  //- Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
  link(rel='stylesheet' type='text/css' href='/css/style.css')
  link(rel='icon' href='https://www.flaticon.com/svg/static/icons/svg/3507/3507102.svg' type='image/x-icon')
  //- Title of the tab
  title #{user.id}'s People List
body
    header
        include ../partials/navBar
    .container.body_content
        h5 People #{user.id} Follows
        br
        ul.list-group
        each person in peopleList
            a(href="http://localhost:3000/people/"+person.id)
                li.list-group-item #{person.name}