doctype html
head
  //-Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  //-Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
  link(rel='stylesheet' type='text/css' href='./css/style.css')
  link(rel='icon' href='https://www.flaticon.com/svg/static/icons/svg/3507/3507102.svg' type='image/x-icon')
title Login
main(style='background-color: #243742;')
  header
    include ../partials/navBar
  .container
    form.login_form(action='/login', method="POST")
      //-add the path for the index.html file inside action
      fieldset.form-group
        legend.border-bottom.mb-3 Login
        .form-group
          label(for='emailAddress') Email address
          input#emailAddress.form-control(name='username' type='text' required='')
        .form-group
          label(for='password') Password
          input#password.form-control(name='password' type='password' required='')
        button#login.btn.btn-outline-primary(type='submit') Login
        .border-top.mt-3.pt-4
          small.text-muted
            | Need An Account?
            a.ml-2(href='http://localhost:3000/register') Sign Up Now!

script(src='/js/scriptLogin.js')
